<html> 
    <head>
        <link rel="stylesheet" href="./filter_panel.css">
    </head>
    <body>
        <section id="filter_panel"> 
            <span id="filter_title_label">Filtre</span>
            <section id="categories_container">
                <section class="category_panel">
                    <section id="brand_model_filter_container">
                        <div class="aux_container">
                            <span class="filter_label">Brand</span>
                            <select class="filter_input">
                                <option>BMW</option>
                                <option>VoltWagen</option>
                            </select>
                        </div>
                        <div class="aux_container">  
                            <span class="filter_label">Model</span>
                            <select class="filter_input">
                            </select>
                        </div>
                    </section>
                    <hr class="del_line">
                    
                </section>
            </section>
        </section>
    </body>
</html>