<html> 
    <head>
        <link rel="stylesheet" href="./mini_view.css">
    </head>
    <body>
        <section class="mini_view_container">
            <div class="picture_container">
                <img class="mini_view_img" src="https://s1.cdn.autoevolution.com/images/news/next-bmw-2-series-coupe-will-be-rwd-and-we-it-cant-come-soon-enough-138677_1.jpg">
            </div>
            <div class="info_container">
                <div class="car_desc">
                    <span class="car_brand_name">BMW</span>
                    <span class="car_model_name">2 Series Coupe</span>
                </div> 
                <div class="car_price"> 
                    <span class="price">29.000</span><sup class="eur_label"> EUR</sup>
                </div>  
            </div>
        </section>
        <section class="mini_view_container">
            <div class="picture_container">
                <img class="mini_view_img" src="https://img.autobytel.com/2019/bmw/230/2-800-oemexteriorfront1300-88000.jpg">
            </div>
            <div class="info_container">
                <div class="car_desc">
                    <span class="car_brand_name">BMW</span>
                    <span class="car_model_name">2 Series Coupe</span>
                </div> 
                <div class="car_price"> 
                    <span class="price">29.000</span><sup class="eur_label"> EUR</sup>
                </div>  
            </div>
        </section>
    </body>
</html>