<html>
    <head>
        <link rel="stylesheet" href="./product_page_style.css">
    </head>
    <body>
        <section id="product_pres_container">
            <section id="product_pictures_panel">
                <section id="picture_panel">
                </section>
                <section id="pictures_list_panel"> 
                </section>
            </section>
            <section id="product_info_panel">
                <div id="product_name_panel">BMW seria 5</div>
                <hr class="del_line">
                <div id="price_container"><span id="price_label">Pret: </span><span id="price_value">29.000</span><sub>   EUR</sub></div>
                <hr class="del_line">
                <div id="fav_button_panel">
                    <button class="fav_button">Pagina Proprietarului</button>
                    <button class="fav_button">Adauga la favorite</button>
                </div>
                <hr class="del_line">
                <div id="contacts_panel">
                    <div class="info_container"><span class="info_label">Telefon:</span><span class="info_cont_label">0725518386</span></div>
                    <div class="info_container"><span class="info_label">E-mail:</span><span class="info_cont_label">radumugur1997@gmail.com</span></div>
                </div>
            </section>
        </section>
        <section id="product_info_container">
            <section class="info_section">
                <span class="title_label">Descriere</span>
                <section class='info_data_container'>
                    <div class="info_item">
                        <span class="info_title">Nume Model</span>
                        <span class="info_value">BMW seria 5</span>
                    </div>
                    <hr class="info_del_line">
                    <div class="info_item">
                        <span class="info_title">Nume Model</span>
                        <span class="info_value">BMW seria 5</span>
                    </div>
                    <hr class="info_del_line">
                    <div class="info_item">
                        <span class="info_title">Nume Model</span>
                        <span class="info_value">BMW seria 5</span>
                    </div>
                    <hr class="info_del_line">
                </section>
                </section>
            <section class="info_section">
                <span class="title_label">Detalii</span>
            </section>
        </section>         
    </body>
</html>