body{
    background-color:white;
    background-repeat: no-repeat;
    background-size:100% 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    overflow:visible;
}

#main_container{
    width:900px;
    height:auto;
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center ;
    align-items: center;
    background-color:rgb(70,130,180);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    border-style:none;
    box-shadow: 0px 0px 15px black;
    overflow: auto;
}
.input_data_panel{
    width:500px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.input_box{
    height:40px;
    width:300px;
    font-size:20px;
}
.input_text_area{
    height:100px;
    width:300px;
    font-size:20px;
    background-color:white;
    overflow: auto;
    resize:none;
    font-size:15px;
}
.input_label{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:18px;
    width:auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}
#buttons_pannel{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user_button{
    height:50px;
    font-weight: bold;
    color:rgb(70,130,180);
    background-color:white;
}
.user_button,.input_box,.input_text_area{
    outline:none;
    border-radius:5px;
    border-style:none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.input_text_area{
    color:#001f3f;
}

#title_container{
    font-size:30px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top:20px;
} 
#title_picture{
    font-size:100px
}
#title_label{
    font-size:20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} 
.sep_hr{
    width:60%;
    height:1px;
    border-style:none;
    background-color:white;
    margin-bottom:10px;
    margin-top:10px;
}
.user_button:hover{ 
    background-color:rgb(70,130,180);
    color:white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
.user_button:active{
    color:#0074D9;
    background-color: white;
}
.error_label{
    width:500px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    color:yellow;
}

@media only screen and (max-width: 800px) {
    #main_container{
        width:100%;
        height:100%;
    }
    .sep_hr{
        width:60%;
    }
    body{
        overflow: hidden;
    }

}
@media only screen and (max-width: 600px) {
    #main_container{
        width:100%;
        height:100%;
        overflow: auto;
    }
    .sep_hr{
        width:60%;
    }
    .input_data_panel{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input_label{
        width:100%;
    }
    body{
        overflow: auto;
    }
    .error_label{
        justify-content:center;
    }

}