<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./create_acc_style.css">
    </head>
    <body>
        <section id="main_container">
            <div id="title_container">    
                <i class='fas fa-user-alt' id="title_picture"></i>
                <span id="title_label">Creare Cont</span>
            </div>
        
            <hr class="sep_hr">
            <div class="input_data_panel">
                <div class="input_label">E-mail</div>
                <input type="text" class="input_box">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Parola</div>
                <input type="password" class="input_box">
            </div>
            <div class="input_data_panel">
                <div class="input_label">Confirma Parola</div>
                <input type="password" class="input_box">
            </div> 
            <div class="input_data_panel">
                <div class="input_label">Nume</div>
                <input type="text" class="input_box">
            </div>
            
            <div class="input_data_panel">
                <div class="input_label">Prenume</div>
                <input type="text" class="input_box">
            </div>
           
            <div class="input_data_panel">
                <div class="input_label">Telefon</div>
                <input type="text" class="input_box">
            </div>

            <div class="input_data_panel">
                <div class="input_label">Adresa</div>
                <textarea class="input_text_area"></textarea>
            </div>











            <hr class="sep_hr">
            <div id="buttons_panel">
                <input type="button" value="Finalizare" class="user_button">    
            </div>
        </section>

        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </body>
</html>