<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="mini_personal_view.css">
    </head>
    <body>
        <section class="main_posts_container">
            <section class="post_container">
                <section class="mini_view_info">
                    <section class="mini_view_picture">
                        <img class="picture">
                    </section>
                    <section class="mini_view_labels">   
                        <span class="brand_name_container">BMW</span>
                        <span class="model_name_container">M3</span> 
                    </section>
                </section>
                <section class="options_panel">
                    <section class="post_option">Modifica</section>
                    <section class="post_option">Sterge</section>
                </section>
            </section>
        </section>
    </body>
</html>