.main_posts_container{
    width:90%;
    height:auto;
    background-color:lightblue;
    box-shadow: 0px 0px 12px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top:5px;
    margin-bottom:5px;
}
.mini_view_info{
    display:flex;
    flex-direction: row;   
}
.mini_view_labels{
    display:flex;
    flex-direction: column;   
    justify-content: flex-start;
    margin-left:10px;
}

.brand_name_container{
    margin-top:20px;
    font-size: 20px;
}

.model_name_container{
    font-size: 15px;
    margin-top: 5px;
}


.post_container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.options_panel{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.post_option{
    margin-left:10px;
    margin-right: 10px;
    color:rgb(0,127,255);
}
.post_option:hover{
    text-decoration: underline;
}
.mini_view_picture{
    width: 200px;
    height: 140px;
    background-color: blue;
}

.picture{
    width:inherit;
    height: inherit;
}
/*
*{
    border-style: solid;
}*/