<html>
    <head>
        <link rel="stylesheet" href="./personal_posts_page_style.css">
    </head>
    <body>
     <section id="main_container">   
        <section id="main_details_container">
            <section id="username_container">
                <img  id="user_picture" src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
                <span id="username_label">George Florin</span>
            </section>
            <hr class="contact_del_line">
            <section id="contact_data_container">
                <div class="contact_item"><div class="contact_label">Telefon</div><div class="contact_value">0725518386</div></div>
                <div class="contact_item"><div class="contact_label">E-main</div><div class="contact_value">radumugur1997@gmail.com</div></div>
                <div class="contact_item"><div class="contact_label">Adresa</div><div class="contact_value">Romania,Judetul Galati ....</div></div>
            </section>
        </section>
        <section id="posts_container">
            <section id="posts_title_container">
                <span class="posts_label">Postari</span>
                <span class="posts_label">Favorite</span>
                <span class="posts_label">Cont</span>
            </section>
            <hr class="contact_del_line">
        </section>
    </section>
    </body>
</html>